.pokemon-image { //noe
    width: 20rem;
    height: 20rem;
}

.pokemon-info{ //noe
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

